<html>


    <head>

          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"> </script>
        
     </head>


<form method="GET" action="/getdata"> 
    
    <input type="text" name="text"><br>


    <input type="submit"  value="GetLink" title="GetLink">


</form>


      <div class="title">
           
        <%if(title){%>
             
      <h2> Title=<%=title%></h2>
      <%}%>
      </div>


      <div class="linklist">

    <%if(link){%>

         <table>
          <th>Link list</th>   
       

          <% link.map( (obj,data)=>{ %>

            <tr>
            
                <td> <%=data.attribs.href%> </td>
                
            </tr>

       <% }) %>
        </table>
         <%}%>

      </div>



      <script> 
   
   

        <%  if(locals.serverCrash) { %>
          
    
     
         new Noty({    
      
        text:"Server Crash , please try again" ,
        theme:'mint',
        timeout:2500
    
          }).show();
    
    
        <% } %>
    
       </script>
         

</html>